body {
    font-size: 30px;
}

.row {
    margin-bottom: 8vw;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.slideshow p {
    width: 100%;
    display: none;
}

.slideshow p:first {
    display: block;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 30vw;
}

img {
    width: 100%;
    height: auto;
}

.thin-right-border {
    border-right: 1px solid #888;
}

.thin-bottom-border {
    border-bottom: 1px solid #888;
}

.nopadding {
    padding: 0;
}

.brief-description-gap {
    padding-bottom: 8vw;
}

.form-control {
    font-size: 18px
}

.input1 {
    margin: 3px;
}

.input2 {
    margin: 3px 3px 3px 5px;
}

.contacts {
    background-color: #888;
    color: white;
    padding: 4vw 0;
}

.contacts a {
    color: white;
}

.copyright {
    font-size: 0.6em;
}

/* Moblie portrait, landscape and Tablet portrait */
@media all and (max-width: 992px) {
    body {
        font-size: 18px;
    }

    .col-md-6 img {
        border-top: 1px solid #888;
    }

    .contacts :nth-last-child(-n+2) {
        margin-top: 8vw;
    }
}

@media all and (min-width: 993px) {
    .contacts :nth-child(3) {
        margin-top: 42px;
    }
}

