body {
    font-size: 3em;
}

.row {
    margin-bottom: 8vw;
}

.no-bottom-margin {
    margin-bottom: 0;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 30vw;
}

img {
    width: 100%;
    height: auto;
}

.thin-right-border {
    border-right: 1px solid #999;
}

.thin-bottom-border {
    border-bottom: 1px solid #999;
}

.nopadding {
    padding: 0;
}

.brief-description-gap {
    padding-bottom: 8vw;
}

.input1 {
    margin: 3px;
}

.input2 {
    margin: 3px 3px 3px 5px;
}

.copyright {
    font-size: 0.6em;
}

.slideshow p {
    width: 100%;
    display: none;
}

.slideshow p:first {
    display: block;
}

/* Moblie portrait, landscape and Tablet portrait */
@media all and (max-width: 992px) {
    body {
        font-size: 1.8em;
    }

    .col-md-6 img {
        border-top: 1px solid #999;
    }

    .contacts :nth-child(odd) {
        margin-bottom: 3vw;
    }
}
